#wprb-subreddit-feed {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
#wprb-subreddit-feed .wprb-list {
    margin: 0;
    padding: 0;
}
#wprb-subreddit-feed h1 {
    font-size: 2em;
    color: #333;
}

#wprb-subreddit-feed h2 {
    font-size: 1.75em;
    color: #333;
}

#wprb-subreddit-feed h3 {
    font-size: 1.5em;
    color: #333;
}

#wprb-subreddit-feed h4 {
    font-size: 1.25em;
    color: #333;
}

#wprb-subreddit-feed h5 {
    font-size: 1em;
    color: #333;
}

#wprb-subreddit-feed h6 {
    font-size: 0.875em;
    color: #333;
}

#wprb-subreddit-feed li {
    margin: 10px 0;
    padding: 10px;
}
#wprb-subreddit-feed .wprb-post {
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
