#wprb-subreddit-feed {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

#wprb-subreddit-feed li {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    list-style-position: inside;
}

#wprb-subreddit-feed h1.wp-base-header {
    color: #24a0ed;
    font-size: 24px;
    margin-bottom: 10px;
}

#wprb-subreddit-feed p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#wprb-subreddit-feed ol {
    list-style-type: decimal;
    padding-left: 20px;
}

#wprb-subreddit-feed ol li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#wprb-subreddit-feed ol li h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

#wprb-subreddit-feed ol li h2 a {
    color: #24a0ed;
    text-decoration: none;
}

#wprb-subreddit-feed ol li h2 a:hover {
    text-decoration: underline;
}

#wprb-subreddit-feed ol li p {
    color: #555;
}

#wprb-subreddit-feed ol li div {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
